<!DOCTYPE html>
<html>
<head>
<title>登陆注册</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<link rel="stylesheet" href="/css/login.css">
<script src="/js/jquery.min.js"></script>
<script src="/vueJs/vue.js"></script>


</head>
<body>
<div id="login">
	<div class="main">
		<div class="w3_login">
			<div class="w3_login_module">
				<div class="module form-module">
					<div class="toggle" id="toggle" @click="change()">
						<i class="fa fa-times fa-pencil"></i>
						<div class="tooltip">点击切换</div>
					</div>
					<div class="form">
						<h2>登录账号</h2>
						<input type="text" v-model="userName" name="Username" placeholder="用户名" required=" " />
						<input type="password" v-model="passWord" name="Password" placeholder="密码" required=" " />
						<input type="submit" value="登录" @click="login()" />
					</div>
					<div class="form">
						<h2>创建一个账号</h2>
							<input v-model="user.userContent" type="text" name="userContent" placeholder="用户名" required=" " />
							<input v-model="user.userName" type="text" name="userName" placeholder="用户昵称" required=" " />
							<input v-model="user.userPass" type="password" name="Password" placeholder="密码" required=" " />
							<input v-model="user.userTradePass" type="password" name="Password" placeholder="交易密码" required=" " />
							<input v-model="user.userEmail" type="email" name="userEmail" placeholder="Email" required=" " />
							<span style="font-size: 14px;color: #333;margin-bottom: 15px;float: left">性别：</span>
							<select v-model="user.userSex" style="float: left;width: 70px;text-align: center">
								<option value="true" style="text-align: center">男</option>
								<option value="false" style="text-align: center">女</option>
							</select>


							<input type="text" v-model="user.userPhone" name="userPhone" placeholder="电话" required=" " />
							<input type="submit" @click="register()" value="注册" />
					</div>
					<div class="cta"><a href="#">忘记密码?</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>
<script src="/vueJs/login.js"></script>

</body>
</html>
